@import '../../../styles/settings.scss';

.root {
  .content {
    max-width: 70vw;
    margin: 0 auto;
    background-color: $main-color;
    height: 2000px;
    margin-top: 110px;
  }
}

@media only screen and (max-width: 567px) {
  .root {
    .content {
      max-width: 90vw;
      margin-top: 140px;
    }
  }
}
